body{
    background-color: #f5f5f5;
}
.display{
    display: none;
}
.top-page{
    text-align: center;
    color: white;
    background-image: url('img/hero.jpg');
    background-color:rgba(0, 0, 0, .6);
    background-blend-mode:darken;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 3rem; 
    min-height: 100vh;
}
.top-page-home{
    text-align: center;
    color: white;
    background-image: url('img/home-top.jpg');
    background-color:rgba(0, 0, 0, .6);
    background-blend-mode:darken;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 3rem; 
}
.text-light-top{
    margin: 3rem 1rem 0 1rem;
}
.text-light-bottom{
    margin: .5rem 1rem 3rem 1rem;
}
select,input{
    height: 40px;
}
.input-group{
    width: 400px;
    margin: 0 auto;
}
.select{
    width: 300px;
    margin-right: 1rem;
}
.posts-card{
    padding: 1rem 2rem;
    background-color: white;
}
#data_btn{
    margin: -2rem 0 1rem;
}
#personal_data_btn{
    background-color: white;
    padding: .25rem .5rem;
    cursor: pointer;
}
#other_data_btn{
    background-color: gray;
    padding: .25rem .5rem;
    cursor: pointer;
}